fastapi
uvicorn

python-multipart
pillow
opencv-python

torch==2.2.1
transformers==4.39.3
sentence-transformers==2.6.1
ftfy
regex
tqdm

ultralytics==8.1.0

numpy
requests
python-dotenv

google-generativeai

pdfplumber
unstructured
unstructured-client

supabase
