fastapi
uvicorn

python-multipart
pillow
opencv-python

torch
transformers
sentence-transformers
ftfy
regex
tqdm

ultralytics

numpy
requests
python-dotenv

google-generativeai

pdfplumber
unstructured
unstructured-client

supabase
