.navbar {
    box-sizing: border-box;
    background-color: #ffe59d;
    padding: 20px 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.navbar .logo{
    width: 150px;

}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #657080;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center; 
    gap: 40px;
}

.navbar_button{
    background: transparent;
    font-size: 16px;
    color: #657080;
    border: 1px solid #a3c4f3;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer; 
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #ffe59d;
}

.navber .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #657080;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ffe59d;
    border-radius: 5px;
    top: -8px;
    right: -8px;
    
}