.explore-restaurant{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px; 
}
.explore-restaurant h1{
    color: #657080;
    font-weight: 500;
}
.explore-restaurant-text{
    max-width: 60%;
    color: #657080;
}
.explore-restaurant-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-restaurant-list::-webkit-scrollbar{
    display: none; 
}
.explore-restaurant-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    width: 200px; 
    height: 150px;  
}
.explore-restaurant-list-item p{
    margin-top: 10px;
    color: #657080;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}